@import "tailwindcss";

@theme {
    --font-sans:
        "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --color-button-primary: #2663f6;
    --color-primary: #f1f6ff;
}

@utility button {
    @apply px-5 py-3 rounded-md font-medium cursor-pointer;
}

html,
body {
    @apply bg-white;
}
